name: Rust-Build-Pipeline

on:
  push:
    branches: [ main ]

  pull_request:
    branches: [ main, dev ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-test-debug:
    name: Build and Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v3
    - name: Build on ${{ matrix.os }}
      run: cargo build --verbose
    - name: Run tests on ${{ matrix.os }}
      run: cargo test --verbose
      
  build-test-nightly:
    name: Build on nightly rust
    needs: [build-test-debug]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        override: true
    - uses: actions-rs/cargo@v1.0.3
      with: 
        command: test
        
  build-release:
    name: release-binaries
    needs: [build-test-debug]
    runs-on: windows-latest
    strategy: 
      matrix:
        target: [ i686-pc-windows-msvc, x86_64-pc-windows-msvc ]
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          target: ${{ matrix.target }}
      - name: Build target
        uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --release --target ${{ matrix.target }}
      - name: Download Build Artifact
        uses: actions/download-artifact@v3.0.0
